<div class="wrap">
  <h1 class="page-title">About</h1>
  <main>
    <div class="page">
      <p>I am a Software Engineer at Capital One in Richmond, VA. I am a part of the Technology Development Program (TDP), 
        which is a 2 year rotational in which I transition to 2 teams to explore different roles, teams and technologies.
        In my first year, I am working in the Shared Tech department as a member of the PRIME team.
      </p>


      <p>
      I graduated from North Carolina State University in December of 2016 with a B.S. in Computer Science and Economic minor.
      </p>


      <p>
      I was the 2016 President and Coach of the Cross Country and Track Club at NC State.
      I spent time developing specific training plans ranging from the 800m to the 8k.
      Our men's and women's team is incredibly successful.
      The men won the Southeast Regional titles from 2014-2016, finishing 12th in the nation in 2015 and 2016.
      The women won their first regional title in 2016, after improving on 3rd and 2nd place finishes in 214 and 2015, respectively.
      In 2015, the women finished 11th in the nation.
      </p>

      
      <p>
      I love to travel! Occasionally, I fly off to the beach, to watch the best athletes in the world, or visit friends in other countries!
      </p>
      <p>
      I have a beautiful and incredibly intelligent cat named Maggie!
      </p>

      <p>
      If you need to contact me, or want more information: 
      </p>
      <ul>
        <li>
          <a href="https://github.com/balassit/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/blake-lassiter-b92bb26b">LinkedIn</a></li>
        <li><a href="http://ncsuclubrunning.com/">NCSU Club XC/Track</a></li>
      </ul>
      <p>
      You may also submit an email from this form directly.
      </p>
      <app-email-form></app-email-form>
    </div>
  </main>
</div>